.info-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.info-list__item {
  position: relative;
}

.info-list__number {
  color: $red;
  font-family: $Besom;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}

.info-list__description {
  @extend %list-description;
  letter-spacing: 0.8px;
}

@media (max-width: $mobile) {
  .info-list {
    padding: 55px 15px 0 135px;
  }

  .info-list__item {
    margin-bottom: 66px;

    &:nth-child(3) {
      margin-bottom: 55px;
    }
  }

  .info-list__number {
    position: absolute;
    top: -14px;
    left: -122px;
    font-size: 100px;
    letter-spacing: 5.8px;
  }
}

@media (min-width: $tablet) and (max-width: $only-tablet) {
  .info-list {
    flex-wrap: wrap;
    width: 100%;
    height: 342px;
    padding: 50px 70px 0 140px;
  }

  .info-list__item {
    &:nth-child(1) {
      width: 202px;
      margin: 9px 172px 105px 0;
    }

    &:nth-child(2) {
      width: 202px;
      margin: 1px 172px 0 0;
    }

    &:nth-child(3) {
      width: 172px;
      margin-bottom: 86px;
    }

    &:nth-child(4) {
      width: 172px;
    }
  }

  .info-list__number {
    position: absolute;
    top: -26px;
    left: -128px;
    font-size: 120px;
    letter-spacing: 6.96px;
  }
}

@media (min-width: $desktop) {
  .info-list {
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 167px 60px 0 31px;
  }

  .info-list__item {
    margin: 0;

    &:not(:first-child) {
      & > .info-list__number {
        top: -125px;
        left: 31px;
      }
    }

    &:nth-child(1) {
      order: 1;
      width: 202px;
    }

    &:nth-child(2) {
      order: 3;
      width: 166px;
    }

    &:nth-child(3) {
      order: 2;
      width: 177px;
    }

    &:nth-child(4) {
      order: 4;
      width: 156px;
    }
  }

  .info-list__number {
    position: absolute;
    top: -125px;
    left: 47px;
    font-size: 120px;
    letter-spacing: 6.96px;
  }

  .info-list__description {
    text-align: center;
  }
}
