@media (max-width: $mobile) {
  .photo {
    min-height: 224px;
    background: url("../image/photo-bg_320.png") no-repeat -38px -29px;
  }
}

@media (min-width: $tablet) {
  .photo {
    min-height: 380px;
    background: url("../image/photo-bg_750.png") no-repeat -13px -45px;
  }
}

@media (min-width: $desktop) {
  .photo {
    min-height: 469px;
    background: url("../image/photo-bg_1170.png") no-repeat center -45px;
  }
}
