.preview {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.preview__text {
  @extend %header-text;
}

.preview__title {
  @extend %header-title;
}

.preview__start,
.preview__finish {
  position: relative;
  color: $red;
  font-family: $CS-35_Light;
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;

  &::before {
    position: absolute;
    content: "";
    display: block;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: $red;
    opacity: 0.1;
  }

  &::after {
    position: absolute;
    content: "";
    display: block;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: $red;
  }
}

@media (max-width: $mobile) {
  .preview--container {
    padding: 0 15px;
  }

  .preview__start {
    margin: 6px 0 79px 11px;

    &::before {
      top: 43px;
      left: 17px;
    }

    &::after {
      top: 48px;
      left: 22px;
    }
  }

  .preview__finish {
    margin: 37px 0 22px 0;

    &::before {
      top: -34px;
      left: 20px;
    }

    &::after {
      top: -29px;
      left: 25px;
    }
  }

  .preview__text {
    width: 557px;
    font-size: 100px;
    line-height: 103px;
    letter-spacing: 5px;
    margin-top: 26px;
  }

  .preview__title {
    top: 50px;
    left: calc((100% - 280px) / 2);
    width: 280px;
    font-size: 36px;
    line-height: 38px;
    letter-spacing: 1.8px;
  }
}

@media (min-width: $tablet) {
  .preview {
    min-height: 1570px;
    background: url("../image/preview-bg750.png") no-repeat;
    background-position: 129px 235px;
  }

  .preview--container {
    width: 750px;
    margin: 0 auto;
    padding: 0 8px;
  }

  .preview__start {
    align-self: flex-end;
    margin: 84px 93px 0 0;

    &::before {
      top: 43px;
      left: 17px;
    }

    &::after {
      top: 48px;
      left: 22px;
    }
  }

  .preview__finish {
    bottom: 205px;
    left: -134px;

    &::before {
      top: -34px;
      left: 20px;
    }

    &::after {
      top: -29px;
      left: 25px;
    }
  }

  .preview__text {
    width: 725px;
    font-size: 130px;
    line-height: 130px;
    letter-spacing: 6.5px;
    margin: 60px 0 0 0;
  }

  .preview__title {
    top: 93px;
    left: calc((100% - 368px) / 2);
    width: 368px;
    font-size: 48px;
    line-height: 38px;
    text-align: center;
    letter-spacing: 2.4px;
  }
}

@media (min-width: $desktop) {
  .preview {
    min-height: 1560px;
    background: url("../image/preview-bg1170.png") no-repeat;
    background-position: 154px 290px;
  }

  .preview--container {
    width: 1170px;
    margin: 0 auto;
    padding: 0;
  }

  .preview__start {
    position: relative;
    margin: 0;
    right: 297px;
    top: 73px;

    &::before {
      top: 43px;
      left: 17px;
    }

    &::after {
      top: 48px;
      left: 22px;
    }
  }

  .preview__finish {
    bottom: 85px;
    left: -317px;

    &::before {
      top: -34px;
      left: 20px;
    }

    &::after {
      top: -29px;
      left: 25px;
    }
  }

  .preview__text {
    width: 1002px;
    font-size: 180px;
    line-height: 180px;
    letter-spacing: 9px;
    margin: 76px 0 0 3px;
  }

  .preview__title {
    top: 118px;
    left: calc((100% - 530px) / 2);
    width: 530px;
    font-size: 68px;
    line-height: 68px;
    letter-spacing: 3.4px;
  }
}
