// viewports
$mobile: 749px;
$tablet: 750px;
$only-tablet: 1169px;
$desktop: 1170px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
// fonts
$Besom: "Besom",
"Arial",
"Helvetica CY",
"Nimbus Sans L",
sans-serif;
$CS-35_Light: "Core Sans E -35 Light",
"Arial",
"Helvetica CY",
"Nimbus Sans L",
sans-serif;
$CS-35_LightIt: "Core Sans E -35 Light It",
"Arial",
"Helvetica CY",
"Nimbus Sans L",
sans-serif;
$CS-45_Regular: "Core Sans E -45 Regular",
"Arial",
"Helvetica CY",
"Nimbus Sans L",
sans-serif;
$CS-55_Medium: "Core Sans E -55 Medium",
"Arial",
"Helvetica CY",
"Nimbus Sans L",
sans-serif;
$CS-65_Bold: "Core Sans E -65 Bold",
"Arial",
"Helvetica CY",
"Nimbus Sans L",
sans-serif;
$CS-85_Heavy: "Core Sans E -85 Heavy",
"Arial",
"Helvetica CY",
"Nimbus Sans L",
sans-serif;
$CS-95_Black: "Core Sans E -95 Black",
"Arial Black",
"Helvetica CY",
"Nimbus Sans L",
sans-serif;
// colors
$red: #ff0000;
$white: #ffffff;
$grey: #4d4d4d;

// styles
//@extend %header-text;
%header-text {
  opacity: 0.1;
  font-family: $Besom;
  font-weight: 400;
  color: #32383f;
  text-align: center;
  text-transform: uppercase;
}

//@extend %header-title;
%header-title {
  position: absolute;
  margin: 0;
  font-family: $CS-95_Black;
  font-weight: 400;
  color: $red;
  text-align: center;
  text-transform: uppercase;
};
//
